﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;

    
}

.borda{
    border-color: #ff4d4d;
    border-width: 1px;
    border-style: solid;
  
}

table {
    width: 90%;
}

thead, tbody, tr, td, th {
    display: block;

}

thead th {
    height: 30px;
}

tbody {
    overflow-y: auto;
    height: 380px;
}

tbody td, thead th {
    float: left;
    width: 12%;
}

tr:after {
    clear: both;
    content: ' ';
    display: block;
    visibility: hidden;
}