﻿@{ViewBag.Title = "Cadastro de Produtos";}
<div class="container">
    <br />
    <div class="row">
        <div class="panel panel-primary">
            <header class="panel-heading">Cadastro de Produto</header>
            <div class="panel-body">
                <figure class="col-md-offset-4">
                    <img src="/Content/img/Produtos/product.jpg" id="imagemProduto2" style="width: 320px;" class="img-thumbnail" />
                    <figcaption id="figNovaImg"><a href="javascript:void(0)" id="novaImagem">Adicionar Imagem</a> </figcaption>
                </figure>
                <div id="uploadNovaImagem" class="form-group col-sm-6 col-sm-offset-3">
                    <label class="control-label">Escolha uma imagem</label>
                    <input id="inputNovaImg" name="inputNovaImg[]" type="file" multiple class="file-loading">
                </div>
                <form class="col-sm-12">
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Nome Produto</label>
                        <input id="nomeProdutoCadastro" type="text" class="form-control  " />
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <div id="comboTipoCadastro">
                            <label>Tipo do Produto</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <div id="novoTipo">
                            <label>Novo Tipo</label>
                            <input id="novoT" type="text" class="form-control " />
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <div id="comboMarcaCadastro">
                            <label>Marca do Produto</label>
                            <select class="form-control" id="comboMCad" name="marcaProdutoCastro" data-show-icon="true"></select>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <div id="novoMarca">
                            <label>Nova Marca</label>
                            <input id="novoM" type="text" class="form-control  " />
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Valor Compra</label>
                        <input id="valorCompra" type="text" class="form-control  " />
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Valor Venda</label>
                        <input id="valorVenda" type="text" class="form-control  " />
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Quantidade</label>
                        <input id="quantidadeCadastro" type="text" class="form-control  " />
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary btn-lg" id="btnVoltarCadastro">Voltar</button>
                <button type="button" class="btn btn-primary btn-lg" id="btnCadastrar">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
<div id="dialog-confirm3" title="Confirmarção">
    <p><span class="ui-icon ui-icon-alert ui-icon-closethick" style="float:left; margin:12px 12px 20px 0;"></span>Adicionar produto?</p>
</div>
<script>
    var parame = {
        getMarca: "@Url.Action("GetMarca","Home")",
        getProdutos: "@Url.Action("GetProdutos", "Home")",
        getTipos: "@Url.Action("GetTipos", "Home")",
        cadastrar: "@Url.Action("CadastrarNovoProduto", "Home")",
        getImagemUpload: "@Url.Action("GetImagemUpload", "Home")"
    }
    $("#dialog-confirm3").hide();
    $('.selectpicker').selectpicker();
    $(function () {
        $("#comboTCad").change(function () {
            if ($("#comboTCad").val() == -1) {
                $('#novoTipo').show(200);
            } else {
                $('#novoTipo').hide(200);
            }
        });

        $("#comboMCad").change(function () {

            if ($("#comboMCad").val() == -1) {
                $('#novoMarca').show(200);
            } else {
                $('#novoMarca').hide(200);
            }
        });

        $("#novaImagem").click(function () {

            $("#uploadNovaImagem").toggle("slow");
        });
    });

    $("#inputNovaImg").fileinput({
        uploadUrl: parame.getImagemUpload,
        uploadAsync: false,
        maxFileCount: 1,
        enctype: 'multipart/form-data',
        allowedFileTypes: ['image'],
        allowedFileExtensions: ['jpg'],
        uploadExtraData: { nome: (parseInt(sessionStorage.getItem("lastItem")) + 1) + ".jpg" },
        fileSingle: 'arquivo',
        filePlural: 'arquivos',
        browseLabel: 'Procurar&hellip;',
        removeLabel: 'Remover',
        removeTitle: 'Remover arquivos selecionados',
        cancelLabel: 'Cancelar',
        cancelTitle: 'Interromper envio em andamento',
        uploadLabel: 'Enviar',
        uploadTitle: 'Enviar arquivos selecionados',
        msgNo: 'Não',
        msgNoFilesSelected: '',
        msgCancelled: 'Cancelado',
        msgZoomModalHeading: 'Pré-visualização detalhada',
        msgFileRequired: 'Você deve selecionar um arquivo para upload.',
        msgSizeTooSmall: 'O arquivo "{name}" (<b>{size} KB</b>) é muito pequeno e deve ser maior que <b>{minSize} KB</b>.',
        msgSizeTooLarge: 'O arquivo "{name}" (<b>{size} KB</b>) excede o tamanho máximo permitido de <b>{maxSize} KB</b>.',
        msgFilesTooLess: 'Você deve selecionar pelo menos <b>{n}</b> {files} para enviar.',
        msgFilesTooMany: 'O número de arquivos selecionados para o envio <b>({n})</b> excede o limite máximo permitido de <b>{m}</b>.',
        msgFileNotFound: 'O arquivo "{name}" não foi encontrado!',
        msgFileSecured: 'Restrições de segurança impedem a leitura do arquivo "{name}".',
        msgFileNotReadable: 'O arquivo "{name}" não pode ser lido.',
        msgFilePreviewAborted: 'A pré-visualização do arquivo "{name}" foi interrompida.',
        msgFilePreviewError: 'Ocorreu um erro ao ler o arquivo "{name}".',
        msgInvalidFileName: 'Invalid or unsupported characters in file name "{name}".',
        msgInvalidFileType: 'Tipo inválido para o arquivo "{name}". Apenas arquivos "{types}" são permitidos.',
        msgInvalidFileExtension: 'Extensão inválida para o arquivo "{name}". Apenas arquivos "{extensions}" são permitidos.',
        msgFileTypes: {
            'image': 'image',
            'html': 'HTML',
            'text': 'text',
            'video': 'video',
            'audio': 'audio',
            'flash': 'flash',
            'pdf': 'PDF',
            'object': 'object'
        },
        msgUploadAborted: 'O envio do arquivo foi abortado',
        msgUploadThreshold: 'Processando...',
        msgUploadBegin: 'Inicializando...',
        msgUploadEnd: 'Finalizado',
        msgUploadEmpty: 'Nanhuma informação válida para upload.',
        msgValidationError: 'Erro de validação',
        msgLoading: 'Enviando arquivo {index} de {files}&hellip;',
        msgProgress: 'Enviando arquivo {index} de {files} - {name} - {percent}% completo.',
        msgSelected: '{n} {files} selecionado(s)',
        msgFoldersNotAllowed: 'Arraste e solte apenas arquivos! {n} pasta(s) ignoradas.',
        msgImageWidthSmall: 'Largura do arquivo de imagem "{name}" deve ser pelo menos {size} px.',
        msgImageHeightSmall: 'Altura do arquivo de imagem "{name}" deve ser pelo menos {size} px.',
        msgImageWidthLarge: 'Largura do arquivo de imagem "{name}" não pode exceder {size} px.',
        msgImageHeightLarge: 'Altura do arquivo de imagem "{name}" não pode exceder {size} px.',
        msgImageResizeError: 'Não foi possível obter as dimensões da imagem para redimensionar.',
        msgImageResizeException: 'Erro ao redimensionar a imagem.<pre>{errors}</pre>',
        msgAjaxError: 'Algo deu errado com a operação {operation}. Por favor tente novamente mais tarde!',
        msgAjaxProgressError: '{operation} failed',
        ajaxOperations: {
            deleteThumb: 'file delete',
            uploadThumb: 'file upload',
            uploadBatch: 'batch file upload',
            uploadExtra: 'form data upload'
        },
        dropZoneTitle: 'Arraste e solte os arquivos aqui&hellip;',
        dropZoneClickTitle: '<br>(ou clique para selecionar o(s) arquivo(s))',
        fileActionSettings: {
            removeTitle: 'Remover arquivo',
            uploadTitle: 'Enviar arquivo',
            zoomTitle: 'Ver detalhes',
            dragTitle: 'Mover / Reordenar',
            indicatorNewTitle: 'Ainda não enviado',
            indicatorSuccessTitle: 'Enviado',
            indicatorErrorTitle: 'Erro',
            indicatorLoadingTitle: 'A enviar ...'
        },
        previewZoomButtonTitles: {
            prev: 'Visualizar arquivo anterior',
            next: 'Visualizar próximo arquivo',
            toggleheader: 'Mostrar cabeçalho',
            fullscreen: 'Ativar tela cheia',
            borderless: 'Ativar modo sem borda',
            close: 'Fechar pré-visualização detalhada'
        }
    });

    $('#inputNovaImg').on('filebatchuploadsuccess', function () {
        $("#imagemProduto2").attr("src", "Content/img/Produtos/temp.jpg" + "?timestamp=" + new Date().getTime());
    });

    $('#inputNovaImg').on('filebatchuploaderror', function () {
        toastr["error"]("Erro.");
    });

    $("#btnVoltarCadastro").click(function () {
        
        $("#divCadastroProduto").slideUp(200,
            function () {
                $("#formFiltro")[0].reset();
                $("#divGrid").slideDown(200);
            });
    });

    $("#btnCadastrar").click(function () {
        $("#dialog-confirm3").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Sim": function () {
                    var nomeProduto = $("#nomeProdutoCadastro").val();
                    var idTipoProduto = $("#comboTCad").val();
                    var idMarca = $("#comboMCad").val();
                    var valorCompra = $("#valorCompra").val();
                    var valorVenda = $("#valorVenda").val();
                    var quantidadeEstoque = $("#quantidadeCadastro").val();

                    $("#nomeProdutoCadastro").removeClass("borda");
                    $("#comboTCad").removeClass("borda");
                    $("#comboMCad").removeClass("borda");
                    $("#valorCompra").removeClass("borda");
                    $("#valorVenda").removeClass("borda");
                    $("#quantidadeCadastro").removeClass("borda");

                    if (nomeProduto != "" &&
                        idTipoProduto != 0 &&
                        idMarca != 0 &&
                        valorCompra != "" &&
                        valorVenda != "" &&
                        quantidadeEstoque != "") {

                        $.get(parame.cadastrar,
                            {

                                nomeProduto: nomeProduto,
                                novoT: $("#novoT").val(),
                                novoM: $("#novoM").val(),
                                idTipoProduto: idTipoProduto,
                                idMarca: idMarca,
                                valorCompra: valorCompra,
                                valorVenda: valorVenda,
                                quantidadeEstoque: quantidadeEstoque,
                                posTipo: $("#comboTCad > option ")[$("#comboTCad > option ").length - 2].value,
                                posMarca: $("#comboMCad > option ")[$("#comboMCad > option ").length - 2].value

                            }).success(function () {
                                toastr["success"]("Produto adicionado!");

                                $("#divCadastroProduto").slideUp(200,
                                    function () {
                                        $("form").trigger("reset");
                                        $("#baseDiv").slideDown(200);

                                        //Update nas mudanças
                                        $.get(parame.getProdutos).done(function (data) {
                                            var listaProdutos = {};
                                            var listapr = [];

                                            for (var key in data) {

                                                listaProdutos[data[key]["NomeProduto"]] = data[key]["IdProduto"];
                                                listapr.push(data[key]["NomeProduto"]);
                                            }

                                            $('#nomeProduto').autocomplete({
                                                source: listapr
                                            });

                                            $("#nomeProduto").on("autocompletechange search",
                                                function () {

                                                    sessionStorage.setItem('IdProduto', listaProdutos[this.value]);

                                                    $.get(parame.getTipos,
                                                        {
                                                            Id: sessionStorage.getItem("IdProduto")

                                                        }).done(function (data) {
                                                            var listaTipos = [];
                                                            for (var key in data) {
                                                                listaTipos.push(data[key]);
                                                            }

                                                            var pos = listaTipos[1][0].Value;
                                                            var posMarca = listaTipos[1][0].Group.Name;

                                                            if (listaTipos[1].length == 1) {
                                                                $("#idComboTipoProduto > option:eq(" + pos + ")")
                                                                    .prop('selected', true);


                                                                $.get(parame.getMarca,
                                                                    {
                                                                        idTipoProduto: $("#idComboTipoProduto option:selected").val()
                                                                    }).done(function (data) {

                                                                        $("#idComboMarca").empty();
                                                                        $("#idComboMarca").append("<option>Selecione</option>");
                                                                        $.each(data,
                                                                            function () {
                                                                                $("#idComboMarca").append($("<option></option>")
                                                                                    .val(this.Value).text(this.Text));
                                                                            });

                                                                        $("#idComboMarca > option[value=" + posMarca + "]")
                                                                            .prop('selected', true);

                                                                    });
                                                            }
                                                        });
                                                }).change();
                                        });

                                    });
                            });
                    } else {
                        toastr["error"]("Você não preencheu todos os valores necessários");

                        if (nomeProduto == "") {
                            $("#nomeProdutoCadastro").addClass("borda");
                        }

                        if (idTipoProduto == 0) {
                            $("#comboTCad").addClass("borda");
                        }

                        if (idMarca == 0) {
                            $("#comboMCad").addClass("borda");
                        }

                        if (valorCompra == "") {
                            $("#valorCompra").addClass("borda");
                        }

                        if (valorVenda == "") {
                            $("#valorVenda").addClass("borda");
                        }
                        if (quantidadeEstoque == "") {
                            $("#quantidadeCadastro").addClass("borda");
                        }
                    }

                    $(this).dialog("close");
                },
                "Não": function () {
                    $(this).dialog("close");
                }
            }
        });

        $(".ui-dialog-titlebar-close").addClass("ui-icon ui-icon-closethick");
    });
</script>