﻿@model CandyShop.Models.CandyShopViewModel
@{ViewBag.Title = "_Filtro";}

<div class="container">
    <br />
    <div class="row">
        <div class="panel panel-primary">
            <header class="panel-heading">Filtro</header>
            <div class="panel-body">
                <form class="col-sm-12" id="formFiltro">
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Nome Produto</label>
                        <input id="nomeProduto" type="text" class="form-control  " />
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Tipo do Produto</label>
                        @Html.DropDownList("TipoProduto", @Model.ComboTipoProduto, "Selecione", new { @class = "form-control", id = "idComboTipoProduto" })
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Marca do Produto</label>
                        @Html.DropDownList("MarcaProduto", @Model.ComboMarca, "Selecione", new { @class = "form-control", id = "idComboMarca" })
                    </div>
                    <div class="form-group col-sm-6 col-sm-offset-3">
                        <label>Faixa de Preço</label>
                        <div class="input-group">
                            <input id="faixaPrecoMin" type="text" class="form-control" />
                            <span class="input-group-addon"></span>
                            <input id="faixaPrecoMax" type="text" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer text-center">
                <button type="button" class="btn btn-primary btn-lg" id="btnBuscar">Buscar</button>
            </div>
        </div>
    </div>
</div>
<script>
    var parameters = {
        getMarca: "@Url.Action("GetMarca","Home")",
        getGrid: "@Url.Action("GetGrid","Home")",
        getProdutos: "@Url.Action("GetProdutos", "Home")",
        getTipos: "@Url.Action("GetTipos", "Home")",
        atualizaQtde: "@Url.Action("AtualizaQtde", "Home")"
    }

    $(function () {
        $('.selectpicker').selectpicker();
        $.get(parameters.getProdutos).done(function (data) {
            var listaP = {};
            var lista = [];

            for (var key in data) {

                listaP[data[key]["NomeProduto"]] = data[key]["IdProduto"];
                lista.push(data[key]["NomeProduto"]);
            }
            $('#nomeProduto').autocomplete({
                source: lista
            });

            $("#nomeProduto").on("autocompletechange search", function () {

                sessionStorage.setItem('IdProduto', listaP[this.value]);
                $.get(parameters.getTipos,
                    {
                        Id: sessionStorage.getItem("IdProduto")
                    }).done(function (data) {
                        var listaTipos = [];
                        for (var key in data) {
                            listaTipos.push(data[key]);
                        }
                        var pos = listaTipos[1][0].Value;
                        var posMarca = listaTipos[1][0].Group.Name;
                        if (listaTipos[1].length == 1) {
                            $("#idComboTipoProduto > option:eq(" + pos + ")").prop('selected', true);
                            $.get(parameters.getMarca,
                                {
                                    idTipoProduto: $("#idComboTipoProduto option:selected").val()
                                }).done(function (data) {

                                    $("#idComboMarca").empty();
                                    $("#idComboMarca").append("<option>Selecione</option>");
                                    $("#idComboMarca > option:first").val(0);
                                    $.each(data, function () {
                                        $("#idComboMarca").append($("<option></option>").val(this.Value).text(this.Text));
                                    });

                                    $("#idComboMarca > option[value=" + posMarca + "]").prop('selected', true);

                                });
                        }
                    });
            }).change();

        });
    });


    $("#idComboTipoProduto > option:first").val(0);
    if ($("#idComboTipoProduto").val() == 0) {
        $.get(parameters.getMarca,
            {
                idTipoProduto: null
            }).done(function (data) {
                $("#idComboMarca").empty();
                $("#idComboMarca").append("<option>Selecione</option>");
                $("#idComboMarca > option:first").val(0);
                $.each(data, function () {
                    $("#idComboMarca").append($("<option></option>").val(this.Value).text(this.Text));
                });
            }).error(function (xhr) {
                toastr["error"]("Deu pau!");
            });
    }

    $("#idComboTipoProduto").change(function () {

        if ($("#idComboTipoProduto").val() == 0) {
            $.get(parameters.getMarca,
                {
                    idTipoProduto: null
                }).done(function (data) {
                    $("#idComboMarca").empty();
                    $("#idComboMarca").append("<option>Selecione</option>");
                    $("#idComboMarca > option:first").val(0);
                    $.each(data,
                        function () {
                            $("#idComboMarca").append($("<option></option>").val(this.Value).text(this.Text));
                        });

                }).error(function (xhr) {
                    toastr["error"]("Deu pau!");
                });

        } else {

            $.get(parameters.getMarca,
                {
                    idTipoProduto: $("#idComboTipoProduto").val()
                }).done(function (data) {
                    $("#idComboMarca").empty();
                    $("#idComboMarca").append("<option>Selecione</option>");
                    $("#idComboMarca > option:first").val(0);
                    $.each(data, function () {
                        $("#idComboMarca").append($("<option></option>").val(this.Value).text(this.Text));
                    });
                }).error(function (xhr) {
                    toastr["error"]("Deu pau!");
                });
        }
    });


    $("#btnBuscar").click(function () {
        var filtro = {
            nomeProduto: $("#nomeProduto").val(),
            idComboTipoProduto: $("#idComboTipoProduto").val(),
            idComboMarca: $("#idComboMarca").val(),
            faixaPrecoMin: $("#faixaPrecoMin").val(),
            faixaPrecoMax: $("#faixaPrecoMax").val()
        }
        
        sessionStorage.setItem('filtroSessionStorage', JSON.stringify(filtro));
        $.get(parameters.getGrid,
            {
                nomeProduto: filtro.nomeProduto,
                idComboTipoProduto: filtro.idComboTipoProduto,
                idComboMarca: filtro.idComboMarca,
                faixaPrecoMin: filtro.faixaPrecoMin,
                faixaPrecoMax: filtro.faixaPrecoMax
            }).success(function (dados) {
                $("#baseDiv").slideUp(200, function () {
                    $("#divGrid").html(dados).slideDown(200);
                });
            }).error(function (xhr) {
                toastr["error"]("Deu pau!");
            });
    });




</script>
