﻿@model IEnumerable<CandyShop.Models.Produto>
@{
    ViewBag.Title = "grid";
}


<div class="container">
    <br />
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <p class="panel-title pull-left">Produtos</p>
                <button id="btnAdicionar" class="btn btn-default fa fa-plus pull-right">Novo</button>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Marca</th>
                            <th>Tipo</th>
                            <th>Quantidade</th>
                            <th>Compras</th>
                            <th>Visualizar</th>
                            <th>Editar</th>
                            <th>Excluir</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeProduto)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NomeMarca)

                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Nometipo)
                                </td>
                                <td>
                                    <div class="estoque col-xs-4">
                                        @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
                                    </div>
                                </td>
                                <td>
                                    <div id="qtd" class="col-xs-10">
                                        @Html.EditorFor(modelItem => item.QuantidadeEstoque, new { htmlAttributes = new { @type = "number", @class = "form-control", @id = item.IdProduto, @Value = "" } })
                                    </div>
                                </td>
                                <td>
                                    <div class="col-xs-4">
                                        <a href="javascript:void(0)" id="visualizar" class="glyphicon glyphicon-eye-open" onclick="abrirVisualizar(@item.IdProduto, @item.IdMarca, @item.IdTipoProduto);"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-xs-4">
                                        <a href="javascript:void(0)" id="editar" class="glyphicon glyphicon-pencil" onclick="abrirEditar(@item.IdProduto, @item.IdMarca, @item.IdTipoProduto);"></a>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-xs-4">
                                        <a href="javascript:void(0)" id="excluir" onclick="excluir(@item.IdProduto);" class="glyphicon glyphicon-trash"></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="panel-footer text-center">
                <button type="submit" class="btn btn-primary btn-lg" id="btnVoltar">Voltar</button>
                <button type="submit" class="btn btn-primary btn-lg" id="btnComprar">Comprar</button>
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Confirmarção">
    <p><span class="ui-icon ui-icon-alert ui-icon-closethick" style="float:left; margin:12px 12px 20px 0;"></span>Deseja confirmar a compra?</p>
</div>
<div id="dialog-confirm-ex" title="Confirmarção">
    <p><span class="ui-icon ui-icon-alert ui-icon-closethick" style="float:left; margin:12px 12px 20px 0;"></span>Deseja excluir esse produto?</p>
</div>

<script>

    var param = {
        atualizaQtde: "@Url.Action("AtualizaQtde", "Home")",
        VisualizarProdutos: "@Url.Action("VisualizarProdutos", "Home")",
        EditarProdutos: "@Url.Action("EditarProdutos", "Home")",
        getMarca: "@Url.Action("GetMarca", "Home")",
        getProdutos: "@Url.Action("GetProdutos", "Home")",
        getTipos: "@Url.Action("GetTipos", "Home")",
        cadastroProdutos: "@Url.Action("CadastroProdutos","Home")",
        excluirProduto: "@Url.Action("ExcluirProduto","Home")"

    }

    function abrirVisualizar(idProduto, idMarca, idTipo) {
        sessionStorage.setItem("IdProduto", idProduto);
        sessionStorage.setItem("IdMarca", idMarca);
        sessionStorage.setItem("IdTipoProduto", idTipo);
        $.get(param.VisualizarProdutos,
            {
                id: idProduto
            }).success(function (data) {

                $("#divGrid").slideUp(200,
                    function () {
                        $("#divProduto").html(data).slideDown(200);
                        $("#figImg").hide();
                        $("#uploadImagem").hide();
                        $('input, select, textarea').attr('readonly', 'readonly');
                        var posT = sessionStorage.getItem("IdTipoProduto");
                        var posM = sessionStorage.getItem("IdMarca");
                        var marca;
                        $.get(param.getMarca,
                            {
                                idTipoProduto: null
                            }).done(function (data) {
                                $("#comboM").empty();
                                $.each(data, function () {
                                    $("#comboM").append($("<option></option>").val(this.Value).text(this.Text));
                                });
                                $("#comboM > option[value= " + posM + "]").prop('selected', true);
                                marca = $("#comboMarca option:selected").html();
                                $("#comboM").replaceWith('<input value="' + marca + '" id = "nomeM" class= "form-control text-box single-line" readonly="readonly" ></input>');
                            }).error(function (xhr) {
                                toastr["error"]("Deu pau!");
                            });

                        $("#idComboTipoProduto").clone().prop("id", "comboT").appendTo("#comboTipo");
                        $("#comboT > option:eq(" + posT + ")").prop('selected', true);
                        $("#comboT > option:first")[0].remove();
                        var tipo = $("#comboTipo option:selected").html();
                        $("#comboT").replaceWith('<input value="' + tipo + '" id = "nomeT" class= "form-control text-box single-line" readonly="readonly" ></input>');
                        $("#btnSalvar").hide();
                    });
            });
    }

    function abrirEditar(idProduto, idMarca, idTipo) {
        sessionStorage.setItem("IdProduto", idProduto);
        sessionStorage.setItem("IdMarca", idMarca);
        sessionStorage.setItem("IdTipoProduto", idTipo);
        $.get(param.EditarProdutos,
            {
                id: idProduto

            }).success(function (data) {

                $("#divGrid").slideUp(200,
                    function () {
                        $("#divProduto").html(data).slideDown(200);
                        var posT = sessionStorage.getItem("IdTipoProduto");
                        var posM = sessionStorage.getItem("IdMarca");
                        $.get(param.getMarca,
                            {
                                idTipoProduto: null
                            }).done(function (data) {
                                $("#comboM").empty();
                                $.each(data, function () {
                                    $("#comboM").append($("<option></option>").val(this.Value).text(this.Text));
                                });
                                $("#comboM > option[value= " + posM + "]").prop('selected', true);
                            }).error(function (xhr) {
                                toastr["error"](xhr.responseText);
                            });

                        $("#idComboTipoProduto").clone().prop("id", "comboT").appendTo("#comboTipo");
                        $("#comboT > option:eq(" + posT + ")").prop('selected', true);
                        $("#comboT > option:first")[0].remove();
                    });
            });

    }

    $("#dialog-confirm-ex").hide();
    function excluir(idProduto) {
        $("#dialog-confirm-ex").show();
        $("#dialog-confirm-ex").dialog({
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            buttons: {
                "Sim": function () {
                    $.get(param.excluirProduto,
                        {
                            idProduto: idProduto
                        }).success(function () {
                        toastr["success"]("Produto excluido");
                        $("#" + idProduto + "")[0].parentElement.parentElement.parentElement.remove();
                    }).error(function () {
                        toastr["error"]("Erro.");
                    });
                    $(this).dialog("close");
                },
                "Não": function () {
                    $(this).dialog("close");
                }
            }

        });
        $(".ui-dialog-titlebar-close").addClass("ui-icon ui-icon-closethick");
    }

    $("#dialog-confirm").hide();
    $(function () {
        $('.selectpicker').selectpicker();
        $("#btnVoltar").click(function () {
            $("#divGrid").slideUp(200,
                function () {
                    $("form").trigger("reset");
                    $("#baseDiv").slideDown(200);
                    $.get(param.getMarca,
                        {
                            idTipoProduto: null
                        }).done(function (data) {

                            $("#idComboMarca").empty();
                            $("#idComboMarca").append("<option>Selecione</option>");
                            $.each(data, function () {
                                $("#idComboMarca").append($("<option></option>").val(this.Value).text(this.Text));
                            });
                        });
                });
        });

        //Compra de produtos
        $("#btnComprar").click(function () {

            $("#dialog-confirm").show();
            $("#dialog-confirm").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Sim": function () {
                        var arr = $("input[type=number]").toArray();
                        var count = 0;
                        var entrar = false;
                        for (var i = 0; i < arr.length; i++) {
                            $("table tr:eq(" + (i + 1) + ")").removeClass("danger");
                            $("table tr:eq(" + (i + 1) + ")").removeClass("success");
                            if (arr[i].value != "") {
                                if (arr[i].value != "" &&
                                    parseInt($(".estoque")[i].innerText) - arr[i].value >= 0 &&
                                    arr[i].value > 0 && arr[i] != undefined) {

                                    if (count == 0) {
                                        entrar = true;
                                    }

                                } else {
                                    if (count == 0) {
                                        toastr["error"]("Quantidade não disponível.");
                                        count += 1;
                                    }

                                    $("table tr:eq(" + (i + 1) + ")").addClass("danger");
                                    entrar = false;
                                }
                            }
                        }

                        if (entrar) {
                            count = 0;
                            for (var i = 0; i < arr.length; i++) {
                                var nomeQtd = arr[i].value;
                                var qtdAtual = parseInt($(".estoque")[i].innerText);
                                if (nomeQtd != "" && qtdAtual - nomeQtd >= 0 && nomeQtd > 0) {
                                    $(".estoque")[i].innerText = qtdAtual - nomeQtd;
                                    $.get(param.atualizaQtde,
                                        {
                                            id: $("input[name=\"item.QuantidadeEstoque\"]")[i].id,
                                            qtd: nomeQtd
                                        }).success(function () {
                                            if (count == 0) {
                                                toastr["success"]("Compra realizada com sucesso!");

                                                $("#divGrid").slideUp(200,
                                                    function () {
                                                        $("form").trigger("reset");
                                                        $("#baseDiv").slideDown(200);
                                                    });
                                                count = 1;
                                            }
                                        }).error(function () {
                                            toastr["error"]("Erro.");
                                        });
                                    $("table tr:eq(" + (i + 1) + ")").addClass("success");
                                }
                            }
                        } else if (entrar == false && count == 0) {
                            toastr["warning"]("Nenhum produto selecionado.");
                        }
                        $(this).dialog("close");
                    },
                    "Não": function () {

                        $(this).dialog("close");
                    }
                }

            });
            $(".ui-dialog-titlebar-close").addClass("ui-icon ui-icon-closethick");
        });

        //Cadastro de Produtos
        $("#btnAdicionar").click(function () {
            $.get(param.cadastroProdutos).success(function (data) {
                $("#divGrid").slideUp(200, function () {
                    $("#divCadastroProduto").html(data).slideDown(200);

                    $("#idComboTipoProduto").clone().prop("id", "comboTCad").appendTo("#comboTipoCadastro");
                    $("#comboTCad").append($('<option>Cadastrar novo tipo...</option>').val("-1"));
                    $('#novoTipo').hide();
                    $('#novoMarca').hide();
                    $("#uploadNovaImagem").toggle();
                    $.get(param.getMarca,
                        {
                            idTipoProduto: null
                        }).done(function (data) {
                            $("#comboMCad").append("<option>Selecione</option>");
                            $("#comboMCad > option:first").val(0);
                            $.each(data, function () {
                                $("#comboMCad").append($("<option></option>").val(this.Value).text(this.Text));
                            });
                            $("#comboMCad").append($('<option>Cadastrar nova marca...</option>').val("-1"));

                        }).error(function (xhr) {
                            toastr["error"]("Deu pau!");
                        });
                });
            }).error(function () {
                toastr["error"]("Erro.");
            });
        });
    });


</script>