﻿@model CandyShop.Models.Produto


@{
    ViewBag.Title = "Produto";
}



<div class="container">
    <br />
    <div class="row">
        <div class="panel panel-primary">
            <header class="panel-heading">Produto</header>
            <div class="panel-body">
                <figure class="col-md-offset-4">
                    <img src="" id="imagemProduto" style="width: 320px;" class="img-thumbnail" />
                    <figcaption id="figImg"><a href="javascript:void(0)" id="editarImagem">Editar imagem</a> </figcaption>
                </figure>
                <div id="uploadImagem" class="form-group col-sm-6 col-sm-offset-3">
                    <label class="control-label">Escolha uma imagem</label>
                    <input id="inputImg" name="inputImg[]" type="file" multiple class="file-loading">
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal col-sm-12">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                @Html.LabelFor(model => model.NomeProduto, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                @Html.EditorFor(model => model.NomeProduto, new { htmlAttributes = new { @class = "form-control", id = "nomeP" } })
                                @Html.ValidationMessageFor(model => model.NomeProduto, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                @Html.LabelFor(model => model.Nometipo, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div id="comboTipo" class="col-sm-6 col-sm-offset-3">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                @Html.LabelFor(model => model.NomeMarca, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div id="comboMarca" class="col-sm-6 col-sm-offset-3">
                                <select class="form-control" id="comboM" name="TipoProduto"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                @Html.LabelFor(model => model.QuantidadeEstoque, htmlAttributes: new { @class = "control-label" })
                            </div>
                            <div class="col-sm-6 col-sm-offset-3">
                                @Html.EditorFor(model => model.QuantidadeEstoque, new { htmlAttributes = new { @class = "form-control", id = "qtdEstoque" } })
                                @Html.ValidationMessageFor(model => model.QuantidadeEstoque, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="panel-footer text-center">
                            <button type="button" class="btn btn-primary btn-lg" id="btnVoltar2">Voltar</button>
                            <button type="button" class="btn btn-primary btn-lg" id="btnSalvar">Salvar</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div id="dialog-confirm2" title="Confirmarção">
    <p><span class="ui-icon ui-icon-alert ui-icon-closethick" style="float:left; margin:12px 12px 20px 0;"></span>Salvar as alterações?</p>
</div>
<div id="dialog-confirmVoltar" title="Confirmarção">
    <p><span class="ui-icon ui-icon-alert ui-icon-closethick" style="float:left; margin:12px 12px 20px 0;"></span>Você tem alterações ainda não salvas. Deseja continuar?</p>
</div>

<script>
    parametros = {
        getImagem: "@Url.Action("GetImagem", "Home")",
        setSalvar: "@Url.Action("SetSalvar", "Home")",
        getImagemUpload: "@Url.Action("GetImagemUpload", "Home")",
        getMarca: "@Url.Action("GetMarca","Home")",
        getGrid: "@Url.Action("GetGrid","Home")",
        getProdutos: "@Url.Action("GetProdutos", "Home")",
        getTipos: "@Url.Action("GetTipos", "Home")",
        atualizaQtde: "@Url.Action("AtualizaQtde", "Home")"

    }
    var valores;
    function ValoresProdutos() {
         valores = {
            nomeP: $("#nomeP").val(),
            comboT: $("#comboT").val(),
            comboM: $("#comboM").val(),
            qtdEstoque: $("#qtdEstoque").val()
         }
        
    }
    setTimeout(ValoresProdutos, 1000);
    
    
    
    var imgSrc;
    $("#dialog-confirm2").hide();
    $("#dialog-confirmVoltar").hide();
    $("#uploadImagem").toggle();
    $(function () {
        $("#editarImagem").click(function () {
            $("#uploadImagem").toggle("slow");
        });
        
        
       
        $("#btnVoltar2").click(function () {

            console.log($("#nomeP").val());
            console.log($("#comboT").val());
            console.log($("#comboM").val());
            console.log($("#qtdEstoque").val());

            if ($("#nomeP").val() != valores.nomeP ||
                $("#comboT").val() != valores.comboT ||
                $("#comboM").val() != valores.comboM ||
                $("#qtdEstoque").val() != valores.qtdEstoque) {
                $("#dialog-confirmVoltar").show();
                $("#dialog-confirmVoltar").dialog({
                    resizable: false,
                    height: "auto",
                    width: 400,
                    modal: true,
                    buttons: {
                        "Sim": function() {
                            $("#divProduto").slideUp(200,
                                function() {
                                    $('input, select, textarea').removeAttr('readonly', 'readonly');
                                    $("form").trigger("reset");
                                    $("#divGrid").slideDown(200);
                                    $.get(param.getMarca,
                                        {
                                            idTipoProduto: null
                                        }).done(function(data) {
                                        $("#idComboMarca").empty();
                                        $("#idComboMarca").append("<option>Selecione</option>");
                                        $.each(data,
                                            function() {
                                                $("#idComboMarca")
                                                    .append($("<option></option>").val(this.Value).text(this.Text));
                                            });
                                    });
                                });
                            $(this).dialog("close");
                        },
                        "Não": function() {
                            $(this).dialog("close");
                        }
                    }
                });
                $(".ui-dialog-titlebar-close").addClass("ui-icon ui-icon-closethick");
            } else {
                $("#divProduto").slideUp(200,
                    function () {
                        $('input, select, textarea').removeAttr('readonly', 'readonly');
                        $("form").trigger("reset");
                        $("#divGrid").slideDown(200);
                        $.get(param.getMarca,
                            {
                                idTipoProduto: null
                            }).done(function (data) {
                            $("#idComboMarca").empty();
                            $("#idComboMarca").append("<option>Selecione</option>");
                            $.each(data,
                                function () {
                                    $("#idComboMarca")
                                        .append($("<option></option>").val(this.Value).text(this.Text));
                                });
                        });
                    });
                $(this).dialog("close");
            }

        });

        $("#btnSalvar").click(function () {
            var marca = sessionStorage.getItem("IdMarca");
            var tipo = sessionStorage.getItem("IdTipoProduto");
            $("#qtdEstoque").removeClass("borda");
            $("#nomeP").removeClass("borda");
            $("#dialog-confirm2").dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Sim": function () {
                        if ($("#qtdEstoque").val() >= 0 && $("#nomeP").val() != "" && $("#qtdEstoque").val() != "") {
                            $.get(parametros.setSalvar,
                                {
                                    idProduto: sessionStorage.getItem("IdProduto"),
                                    idMarca: marca,
                                    idTipo: tipo,
                                    novoMarca: $("#comboM").val(),
                                    novoTipo: $("#comboT").val(),
                                    nomeProduto: $("#nomeP").val().toUpperCase(),
                                    qtd: $("#qtdEstoque").val()
                                }).success(function () {
                                    toastr["success"]("Alterações realizadas com sucesso.");
                                    $("#divProduto").slideUp(200,
                                        function () {
                                            $("form").trigger("reset");
                                            $("#baseDiv").slideDown(200);

                                            //Update nas mudanças
                                            $.get(parametros.getProdutos).done(function (data) {
                                                var listaProdutos = {};
                                                var listapr = [];
                                                for (var key in data) {

                                                    listaProdutos[data[key]["NomeProduto"]] = data[key]["IdProduto"];
                                                    listapr.push(data[key]["NomeProduto"]);
                                                }
                                                $('#nomeProduto').autocomplete({
                                                    source: listapr
                                                });
                                                $("#nomeProduto").on("autocompletechange search", function () {
                                                    sessionStorage.setItem('IdProduto', listaProdutos[this.value]);
                                                    $.get(parametros.getTipos,
                                                        {
                                                            Id: sessionStorage.getItem("IdProduto")
                                                        }).done(function (data) {
                                                            var listaTipos = [];
                                                            for (var key in data) {
                                                                listaTipos.push(data[key]);
                                                            }
                                                            var pos = listaTipos[1][0].Value;
                                                            var posMarca = listaTipos[1][0].Group.Name;
                                                            if (listaTipos[1].length == 1) {
                                                                $("#idComboTipoProduto > option:eq(" + pos + ")").prop('selected', true);
                                                                $.get(parametros.getMarca,
                                                                    {
                                                                        idTipoProduto: $("#idComboTipoProduto option:selected").val()
                                                                    }).done(function (data) {
                                                                        $("#idComboMarca").empty();
                                                                        $("#idComboMarca").append("<option>Selecione</option>");
                                                                        $.each(data, function () {
                                                                            $("#idComboMarca").append($("<option></option>").val(this.Value).text(this.Text));
                                                                        });
                                                                        $("#idComboMarca > option[value=" + posMarca + "]").prop('selected', true);
                                                                    });
                                                            }
                                                        });
                                                }).change();
                                            });
                                        });
                                }).error(function () {
                                    toastr["error"]("Erro.");
                                });

                        } else {

                            if ($("#qtdEstoque").val() < 0) {
                                toastr["error"]("A quantidade precisa ser maior ou igual a 0.");
                                $("#qtdEstoque").addClass("borda");
                            }
                            if ($("#qtdEstoque").val() == "") {
                                toastr["error"]("A quantidade não pode ser vazia.");
                                $("#qtdEstoque").addClass("borda");

                            }
                            if ($("#nomeP").val() == "") {
                                toastr["error"]("Por favor insira um nome para o produto.");
                                $("#nomeP").addClass("borda");
                            }
                        }
                        $(this).dialog("close");
                    },
                    "Não": function () {
                        $(this).dialog("close");
                    }
                }
            });
            $(".ui-dialog-titlebar-close").addClass("ui-icon ui-icon-closethick");
        });

        $.get(parametros.getImagem,
            {
                id: sessionStorage.getItem("IdProduto")
            }).success(function (data) {
                imgSrc = data;
                $("#imagemProduto")[0].src = data;
                $('#imagemProduto').attr('src', $('#imagemProduto').attr('src') + '?' + new Date().getTime());
            });

    });

    nomeImg = sessionStorage.getItem("IdProduto") + ".jpg";
    $("#inputImg").fileinput({
        uploadUrl: parametros.getImagemUpload,
        uploadAsync: false,
        maxFileCount: 1,
        enctype: 'multipart/form-data',
        allowedFileTypes: ['image'],
        allowedFileExtensions: ['jpg'],
        uploadExtraData: { nome: nomeImg },
        fileSingle: 'arquivo',
        filePlural: 'arquivos',
        browseLabel: 'Procurar&hellip;',
        removeLabel: 'Remover',
        removeTitle: 'Remover arquivos selecionados',
        cancelLabel: 'Cancelar',
        cancelTitle: 'Interromper envio em andamento',
        uploadLabel: 'Enviar',
        uploadTitle: 'Enviar arquivos selecionados',
        msgNo: 'Não',
        msgNoFilesSelected: '',
        msgCancelled: 'Cancelado',
        msgZoomModalHeading: 'Pré-visualização detalhada',
        msgFileRequired: 'Você deve selecionar um arquivo para upload.',
        msgSizeTooSmall: 'O arquivo "{name}" (<b>{size} KB</b>) é muito pequeno e deve ser maior que <b>{minSize} KB</b>.',
        msgSizeTooLarge: 'O arquivo "{name}" (<b>{size} KB</b>) excede o tamanho máximo permitido de <b>{maxSize} KB</b>.',
        msgFilesTooLess: 'Você deve selecionar pelo menos <b>{n}</b> {files} para enviar.',
        msgFilesTooMany: 'O número de arquivos selecionados para o envio <b>({n})</b> excede o limite máximo permitido de <b>{m}</b>.',
        msgFileNotFound: 'O arquivo "{name}" não foi encontrado!',
        msgFileSecured: 'Restrições de segurança impedem a leitura do arquivo "{name}".',
        msgFileNotReadable: 'O arquivo "{name}" não pode ser lido.',
        msgFilePreviewAborted: 'A pré-visualização do arquivo "{name}" foi interrompida.',
        msgFilePreviewError: 'Ocorreu um erro ao ler o arquivo "{name}".',
        msgInvalidFileName: 'Invalid or unsupported characters in file name "{name}".',
        msgInvalidFileType: 'Tipo inválido para o arquivo "{name}". Apenas arquivos "{types}" são permitidos.',
        msgInvalidFileExtension: 'Extensão inválida para o arquivo "{name}". Apenas arquivos "{extensions}" são permitidos.',
        msgFileTypes: {
            'image': 'image',
            'html': 'HTML',
            'text': 'text',
            'video': 'video',
            'audio': 'audio',
            'flash': 'flash',
            'pdf': 'PDF',
            'object': 'object'
        },
        msgUploadAborted: 'O envio do arquivo foi abortado',
        msgUploadThreshold: 'Processando...',
        msgUploadBegin: 'Inicializando...',
        msgUploadEnd: 'Finalizado',
        msgUploadEmpty: 'Nanhuma informação válida para upload.',
        msgValidationError: 'Erro de validação',
        msgLoading: 'Enviando arquivo {index} de {files}&hellip;',
        msgProgress: 'Enviando arquivo {index} de {files} - {name} - {percent}% completo.',
        msgSelected: '{n} {files} selecionado(s)',
        msgFoldersNotAllowed: 'Arraste e solte apenas arquivos! {n} pasta(s) ignoradas.',
        msgImageWidthSmall: 'Largura do arquivo de imagem "{name}" deve ser pelo menos {size} px.',
        msgImageHeightSmall: 'Altura do arquivo de imagem "{name}" deve ser pelo menos {size} px.',
        msgImageWidthLarge: 'Largura do arquivo de imagem "{name}" não pode exceder {size} px.',
        msgImageHeightLarge: 'Altura do arquivo de imagem "{name}" não pode exceder {size} px.',
        msgImageResizeError: 'Não foi possível obter as dimensões da imagem para redimensionar.',
        msgImageResizeException: 'Erro ao redimensionar a imagem.<pre>{errors}</pre>',
        msgAjaxError: 'Algo deu errado com a operação {operation}. Por favor tente novamente mais tarde!',
        msgAjaxProgressError: '{operation} failed',
        ajaxOperations: {
            deleteThumb: 'file delete',
            uploadThumb: 'file upload',
            uploadBatch: 'batch file upload',
            uploadExtra: 'form data upload'
        },
        dropZoneTitle: 'Arraste e solte os arquivos aqui&hellip;',
        dropZoneClickTitle: '<br>(ou clique para selecionar o(s) arquivo(s))',
        fileActionSettings: {
            removeTitle: 'Remover arquivo',
            uploadTitle: 'Enviar arquivo',
            zoomTitle: 'Ver detalhes',
            dragTitle: 'Mover / Reordenar',
            indicatorNewTitle: 'Ainda não enviado',
            indicatorSuccessTitle: 'Enviado',
            indicatorErrorTitle: 'Erro',
            indicatorLoadingTitle: 'A enviar ...'
        },
        previewZoomButtonTitles: {
            prev: 'Visualizar arquivo anterior',
            next: 'Visualizar próximo arquivo',
            toggleheader: 'Mostrar cabeçalho',
            fullscreen: 'Ativar tela cheia',
            borderless: 'Ativar modo sem borda',
            close: 'Fechar pré-visualização detalhada'
        }
    });

    $('#inputImg').on('filebatchuploadsuccess', function () {
        $("#imagemProduto").attr("src", "Content/img/Produtos/temp.jpg" + "?timestamp=" + new Date().getTime());
    });

    $('#inputImg').on('filebatchuploaderror', function () {
        toastr["error"]("Erro.");
    });



</script>
