﻿@using System.Web.UI.WebControls
@{ViewBag.Title = "Index";}

<div id="baseDiv">@Html.Partial("_filtro")</div>
<div id="divGrid"></div>
<div id="divProduto"></div>
<div id="divCadastroProduto"></div>


